@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: linear-gradient(90deg,
      #14151a,
      #25262b);

  /* background: #14151a; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade {
  -webkit-mask: linear-gradient(90deg,
      transparent 1%,
      #14151a 10%,
      #25262b 90%,
      transparent 99%);
  mask: linear-gradient(90deg,
      transparent 1%,
      #14151a 10%,
      #25262b 90%,
      transparent 99%);
}