.header {
  background-color: #152b36;
}

.section {
  background-color: #152b36;
}

.wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.wave .shape-fill {
  fill: darkslategrey;
}

#navbar {
  background-color: #284756;
  margin-top: 20px;
  margin-left: 20px;
}

#pfp {
  width: 100%;
  max-width: 64px;
  border-radius: 50%;
}